<div id="login" class="login component">
  <div class="login-form-head">
    <h4>LOGIN</h4>
  </div>

  <div class="login-form-body">
    <form class="" action="" method="post">
      <div class="email">
        <label for="email">Enter your email:</label>
        <input type="email" name="email" placeholder="yourmail@mail.com" />
      </div>
      <div class="password">
        <label for="password">And password:</label>
        <input type="password" name="password" placeholder="for example: temp1234" />
      </div>

      <span class="error-message component">
        error-message-component
      </span>

      <button type="button" name="button">Login</button>
    </form>
  </div>
</div>
