#main {
  padding: 15px;
  border: 1px solid;
}

.grow-full-height {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
  height: 100%;
}

.main-component {

}

.main-component > nav ul,
.main-component > nav li {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.main-component .nav-bar {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.user-card {
  padding: 10px;
  border: 2px solid grey;
  min-height: 400px;
}

.user-card .user-name,
.user-card .user-avatar {
  /* display: inline-block;
  position: absolute; */

  border: 3px dashed blue;
  padding: 10px;
  margin: 5px;
  width: 70px;
  height: 50px;
}
