<div id="main" class="main-component">
  <nav class="nav-bar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <div class="user-info">
      <span> < User name: {{userName}} > |</span>
      <span> < User avatar ></span>
      <button type="button" value="logout" (click)="onLogout()">Logout</button>
    </div>
  </nav>

  <div class="welcome-message">
    <h4>Welcome message, {{userName}}</h4>
  </div>

  <div class="user-card">
    <span>User block</span>

    <stms-drag-container>
      <div class="user-name" stmsDragdrop>
        User name: {{userName}}
      </div>

      <div class="user-avatar" stmsDragdrop>
        User avatar
      </div>
    </stms-drag-container>

  </div>
</div>
