<div id="main" class="main-component">
  <nav class="nav-bar">
    <div class="welcome-message">
      <h4>Welcome to our drag'n'drop madness!</h4>
    </div>

    <div class="user-info">
      <div class="user-name">
        Hi, {{userModel.name}}
      </div>
      <div class="user-avatar">
        <img src='{{userModel.avatar}}'/>
      </div>
      <button type="button"
              class="btn btn-primary"
              value="logout"
              (click)="onLogout()">Logout</button>
    </div>
  </nav>

  <div class="user-card">
    <span>User block</span>

    <stms-drag-container
        [name]='userModel.name'
        [avatar]='userModel.avatar'>
    </stms-drag-container>

  </div>
</div>
