<stms-login></stms-login>

<!-- MAIN -->
<div id="main" class="main component">
  <nav class="nav-bar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <div class="user-info">
      <span> < User name: {{user}} > |</span>
      <span> < User avatar ></span>
    </div>
  </nav>

  <div class="welcome-message">
    <h4>Welcome message, {{user}}</h4>
  </div>

  <div class="user-card component">
    <span>User block</span>
    <div class="user-name">
      User name: {{user}}
    </div>
    <div class="user-avatar">
      avatar will be here
    </div>
  </div>
</div>
