
<!-- LOGIN -->
<div id="login" class="login component">
  <div class="login-form-head">
    <h4>LOGIN</h4>
  </div>

  <div class="login-form-body">
    <form class="" action="" method="post">
      <div class="email">
        <label for="email">Enter your email:</label>
        <input type="email" name="email" placeholder="yourmail@mail.com" />
      </div>
      <div class="password">
        <label for="password">And password:</label>
        <input type="password" name="password" placeholder="for example: temp1234" />
      </div>

      <span class="error-message component">
        error-message-component
      </span>

      <button type="button" name="button">Login</button>
    </form>
  </div>
</div>

<!-- MAIN -->
<div id="main" class="main component">
  <nav class="nav-bar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <div class="user-info">
      <span> < User name: {{user}} > |</span>
      <span> < User avatar ></span>
    </div>
  </nav>

  <div class="welcome-message">
    <h4>Welcome message, {{user}}</h4>
  </div>

  <div class="user-card component">
    <span>User block</span>
    <div class="user-name">
      User name: {{user}}
    </div>
    <div class="user-avatar">
      avatar will be here
    </div>
  </div>
</div>
